body{
    background:linear-gradient(to right,lightblue,cornflowerblue);
}

.formbox{
    position: relative;
    top: -530px;
    left: 590px;
    width: 200px;
}

.input{
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    padding: 1px 0;
    margin: 8px 0;
    outline: none;
    font-size: 18px;
    background: transparent;
}

.out_of_form1{
    position: relative;
    top: -990px;
    left: 150px;
    height: 30px;
}

.out_of_form2{
    position: relative;
    top: -995px;
    left: 350px;
    height: 30px;
}

p{
    font-size: 22px;
    font-weight: bold;
}

.pay{
    position: relative;
    left: 677px;
    top: 185px;
    border-radius: 1500%;
    width: 120px;
    height: 120px; 
    background:rgb(255, 198, 123);
    border: rgb(235, 235, 235) solid 2px;
    text-align: center;
    text-decoration: none;
    line-height:30px;
    color: blue;
    border-width: 5px;
    font-size: 22px;
    outline-style: none;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
